*
!.README.md
!.vimrc
!.bashrc
!.zshrc
!.config
!.gitignore
!code
!Pictures
!.xmonad
!.xmonad/xmonad.hs
!.config/rofi
!.config/dunst
!.config/xmobar
!.config/xmobar/xmobarrc
!.config/picom
!.config/sxhkd
!.config/sxhkdrc
!.config/picom/picom.conf
!.config/dunst/dunstrc
!.config/rofi/launchers
!.config/rofi/launchers/misc
!.config/bspwm
!.config/bspwm/bspwmrc
!.config/polybar
!.config/polybar/config
!.config/kitty
!.config/kitty/kitty.conf
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/rofi/launchers/misc/row_dock.rasi
!code/scripts
!code/scripts/**
!.config/nvim
!.config/nvim/init.vim
!Pictures/pray.png
!Pictures/cpp.svg
!Pictures/cs.svg
!Pictures/c.svg
!Pictures/mountain.svg
!Pictures/pencil.svg
!Pictures/rip.png
!.config/awesome.tar.gz
code/scripts/img.sh
